**/__pycache__/
**/.mypy_cache/

spotify_songs.csv
spotify_songs.csv.processed
spotify_songs.csv.config
spotify_songs.csv_norms.dat
blocks
venv
*_blocks
**/.vscode

# ZIG

**/zig-cache/
**/zig-out/
**/release/
**/debug/
**/build/
**/build-*/
**/docgen_tmp/
