**/__pycache__/
**/.mypy_cache/
**/.cache

/CSV

/songs
/logs

.env

Embeddings/songs/*

spotify_songs.csv
spotify_songs.csv.processed
spotify_songs.csv.config
spotify_songs.csv_norms.dat
spotify_songs.csv.position
blocks
venv
.env
*_blocks
**/.vscode

# ZIG

**/zig-cache/
**/zig-out/
**/release/
**/debug/
**/build/
**/build-*/
**/docgen_tmp/
